---
const base = import.meta.env.BASE_URL;
---

<nav class="navbar" id="navbar">
  <div class="navbar-inner container">
    <a href={`${base}`} class="navbar-logo" aria-label="Attic Pilates">
      <svg class="logo-iso" width="840" height="1017" viewBox="0 0 840 1017" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1017L85.5706 1016.83L179.477 785.83L95.0938 785.995L0 1017Z" fill="currentColor"/>
        <path d="M467.492 119.548L419.986 0L380.458 94.1968H380.403L137.382 675.616L221.6 678.239L418.799 202.919L618.455 678.156L700.658 673.462L467.492 119.548Z" fill="currentColor"/>
        <path d="M743.94 784.643L659.556 784.836L755.727 1015.43L840 1015.26L743.94 784.643Z" fill="currentColor"/>
      </svg>
      <svg class="logo-wordmark" width="2139" height="1017" viewBox="0 0 2139 1017" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 642.322H116.06C158.564 642.322 191.674 652.935 215.391 674.124C239.068 695.312 250.946 725.007 250.946 763.208C250.946 801.41 239.107 831.105 215.391 852.293C191.674 873.481 158.603 884.095 116.06 884.095H31.868V1010.21H0V642.361V642.322ZM115.517 854.634C149.675 854.634 175.449 847.025 192.877 831.768C210.306 816.511 219 793.84 219 763.716C219 733.592 210.267 710.92 192.877 695.663C175.449 680.406 149.675 672.797 115.517 672.797H31.868V854.634H115.517Z" fill="currentColor"/>
        <path d="M360.679 642.322H392.547V1010.17H360.679V642.322Z" fill="currentColor"/>
        <path d="M536.827 642.322H568.733V979.696H754.313V1010.17H536.865V642.322H536.827Z" fill="currentColor"/>
        <path d="M961.281 642.322H991.596L1143.17 1010.17H1109.71L1071.56 917.692H881.281L843.629 1010.17H809.665L961.242 642.322H961.281ZM1059.56 888.27L976.458 685.947L893.857 888.27H1059.56Z" fill="currentColor"/>
        <path d="M1289.59 672.797H1163.59V642.322H1447.45V672.797H1320.95V1010.17H1289.59V672.797Z" fill="currentColor"/>
        <path d="M1552.49 642.322H1767.84V672.29H1584.36V807.848H1754.25V837.27H1584.36V980.203H1773.59V1010.17H1552.45V642.322H1552.49Z" fill="currentColor"/>
        <path d="M1936.73 1002.84C1915.81 993.392 1899.54 979.891 1887.86 962.371C1876.18 944.85 1870 924.364 1869.31 900.874H1900.67C1902.07 927.837 1912.51 948.869 1932.03 963.931C1951.56 978.994 1977.33 986.525 2009.39 986.525C2039.36 986.525 2063.04 980.32 2080.5 967.873C2097.93 955.425 2106.63 938.529 2106.63 917.145C2106.63 897.869 2098.51 882.183 2082.33 870.125C2066.14 858.068 2039.71 847.962 2003.14 839.923C1957.85 829.427 1925.16 815.847 1905.13 799.186C1885.1 782.563 1875.09 760.555 1875.09 733.24C1875.09 703.467 1886.35 679.743 1908.82 662.027C1931.3 644.351 1961.88 635.493 2000.54 635.493C2039.2 635.493 2072.78 645.287 2095.95 664.915C2119.13 684.542 2131.39 712.052 2132.79 747.405H2101.43C2100.03 721.495 2090.52 701.438 2072.93 687.235C2055.35 673.031 2031.21 665.968 2000.54 665.968C1969.88 665.968 1948.34 672.095 1931.8 684.347C1915.23 696.6 1906.96 712.91 1906.96 733.201C1906.96 751.775 1914.88 767.11 1930.75 779.168C1946.59 791.264 1973.37 801.488 2010.98 809.916C2056.63 820.413 2089.39 834.187 2109.27 851.161C2129.14 868.174 2139.08 889.948 2139.08 916.599C2139.08 947.426 2127.39 971.853 2104.07 989.919C2080.7 1007.95 2049.18 1017 2009.43 1017C1981.91 1017 1957.69 1012.28 1936.77 1002.8L1936.73 1002.84Z" fill="currentColor"/>
        <path d="M653.353 54.3561L478.408 54.7073L478.331 12.3697L872.508 11.5503L872.586 53.8879L696.904 54.2391L697.875 522.762L654.323 522.84L653.353 54.3171V54.3561Z" fill="currentColor"/>
        <path d="M1102.69 53.3806L927.744 53.7317L927.666 11.3941L1321.84 10.5747L1321.92 52.9123L1146.24 53.2635L1147.21 521.787L1103.66 521.865L1102.69 53.3415V53.3806Z" fill="currentColor"/>
        <path d="M1431.46 10.3798L1475.75 10.3018L1476.8 521.162L1432.51 521.241L1431.46 10.3798Z" fill="currentColor"/>
        <path d="M1730.11 496.15C1690.87 473.596 1660.16 442.301 1638.08 402.188C1615.95 362.114 1604.85 316.498 1604.77 265.42C1604.66 214.342 1615.56 168.687 1637.53 128.535C1659.47 88.3433 1690.01 56.8925 1729.18 34.1824C1768.31 11.5113 1812.56 0.117225 1861.93 0.000162064C1920 -0.1169 1971.24 15.5695 2015.56 47.0983C2059.93 78.6272 2090.36 121.16 2106.94 174.618L2060.48 174.696C2045.88 134.349 2020.88 102.547 1985.52 79.2515C1950.12 55.956 1909.21 44.3669 1862.75 44.4839C1821.6 44.562 1784.84 53.8879 1752.47 72.4619C1720.1 91.0358 1694.87 117.102 1676.78 150.699C1658.69 184.296 1649.68 222.536 1649.8 265.342C1649.88 308.148 1659.04 346.31 1677.24 379.868C1695.45 413.387 1720.8 439.375 1753.28 457.793C1785.73 476.21 1822.53 485.38 1863.68 485.302C1911.58 485.185 1953.65 472.972 1989.91 448.545C2026.16 424.157 2051.24 390.755 2065.21 348.417L2111.67 348.339C2101.58 384.863 2084.46 416.743 2060.32 444.057C2036.18 471.372 2007.18 492.443 1973.33 507.349C1939.49 522.255 1902.73 529.747 1863.02 529.825C1813.64 529.942 1769.35 518.704 1730.11 496.15Z" fill="currentColor"/>
        <path d="M5.35657 528.771L53.7991 528.654L106.977 397.193L59.1945 397.31L5.35657 528.771Z" fill="currentColor"/>
        <path d="M270.082 59.2336L243.183 0L220.786 46.6689H220.747L83.144 334.682L130.81 336.008L242.484 100.518L355.555 335.93L402.135 333.628L270.082 59.2336Z" fill="currentColor"/>
        <path d="M426.628 396.53L378.845 396.647L433.304 527.874L481.009 527.757L426.628 396.53Z" fill="currentColor"/>
      </svg>
    </a>

    <ul class="navbar-links">
      <li><a href="#clases">Clases</a></li>
      <li><a href="#horarios">Horarios</a></li>
      <li><a href="#precios">Precios</a></li>
      <li><a href="#nosotros">Nosotros</a></li>
      <li><a href="#ubicacion">Ubicación</a></li>
    </ul>

    <div class="navbar-actions">
      <a href="https://www.instagram.com/attic.pilates/" target="_blank" rel="noopener" class="nav-icon" aria-label="Instagram">
        <svg width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <rect x="2" y="2" width="20" height="20" rx="5" ry="5"/>
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/>
          <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"/>
        </svg>
      </a>
      <a href="https://wa.me/5491171451598" target="_blank" rel="noopener" class="btn btn-primary btn-nav">Reservar</a>
    </div>

    <button class="hamburger" id="hamburger" aria-label="Abrir menú">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="mobile-menu" id="mobile-menu">
    <button class="mobile-close" id="mobile-close" aria-label="Cerrar menú">&times;</button>
    <div class="mobile-menu-logo">
      <svg class="logo-iso" width="840" height="1017" viewBox="0 0 840 1017" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1017L85.5706 1016.83L179.477 785.83L95.0938 785.995L0 1017Z" fill="currentColor"/>
        <path d="M467.492 119.548L419.986 0L380.458 94.1968H380.403L137.382 675.616L221.6 678.239L418.799 202.919L618.455 678.156L700.658 673.462L467.492 119.548Z" fill="currentColor"/>
        <path d="M743.94 784.643L659.556 784.836L755.727 1015.43L840 1015.26L743.94 784.643Z" fill="currentColor"/>
      </svg>
      <svg class="logo-wordmark" width="2139" height="1017" viewBox="0 0 2139 1017" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 642.322H116.06C158.564 642.322 191.674 652.935 215.391 674.124C239.068 695.312 250.946 725.007 250.946 763.208C250.946 801.41 239.107 831.105 215.391 852.293C191.674 873.481 158.603 884.095 116.06 884.095H31.868V1010.21H0V642.361V642.322ZM115.517 854.634C149.675 854.634 175.449 847.025 192.877 831.768C210.306 816.511 219 793.84 219 763.716C219 733.592 210.267 710.92 192.877 695.663C175.449 680.406 149.675 672.797 115.517 672.797H31.868V854.634H115.517Z" fill="currentColor"/>
        <path d="M360.679 642.322H392.547V1010.17H360.679V642.322Z" fill="currentColor"/>
        <path d="M536.827 642.322H568.733V979.696H754.313V1010.17H536.865V642.322H536.827Z" fill="currentColor"/>
        <path d="M961.281 642.322H991.596L1143.17 1010.17H1109.71L1071.56 917.692H881.281L843.629 1010.17H809.665L961.242 642.322H961.281ZM1059.56 888.27L976.458 685.947L893.857 888.27H1059.56Z" fill="currentColor"/>
        <path d="M1289.59 672.797H1163.59V642.322H1447.45V672.797H1320.95V1010.17H1289.59V672.797Z" fill="currentColor"/>
        <path d="M1552.49 642.322H1767.84V672.29H1584.36V807.848H1754.25V837.27H1584.36V980.203H1773.59V1010.17H1552.45V642.322H1552.49Z" fill="currentColor"/>
        <path d="M1936.73 1002.84C1915.81 993.392 1899.54 979.891 1887.86 962.371C1876.18 944.85 1870 924.364 1869.31 900.874H1900.67C1902.07 927.837 1912.51 948.869 1932.03 963.931C1951.56 978.994 1977.33 986.525 2009.39 986.525C2039.36 986.525 2063.04 980.32 2080.5 967.873C2097.93 955.425 2106.63 938.529 2106.63 917.145C2106.63 897.869 2098.51 882.183 2082.33 870.125C2066.14 858.068 2039.71 847.962 2003.14 839.923C1957.85 829.427 1925.16 815.847 1905.13 799.186C1885.1 782.563 1875.09 760.555 1875.09 733.24C1875.09 703.467 1886.35 679.743 1908.82 662.027C1931.3 644.351 1961.88 635.493 2000.54 635.493C2039.2 635.493 2072.78 645.287 2095.95 664.915C2119.13 684.542 2131.39 712.052 2132.79 747.405H2101.43C2100.03 721.495 2090.52 701.438 2072.93 687.235C2055.35 673.031 2031.21 665.968 2000.54 665.968C1969.88 665.968 1948.34 672.095 1931.8 684.347C1915.23 696.6 1906.96 712.91 1906.96 733.201C1906.96 751.775 1914.88 767.11 1930.75 779.168C1946.59 791.264 1973.37 801.488 2010.98 809.916C2056.63 820.413 2089.39 834.187 2109.27 851.161C2129.14 868.174 2139.08 889.948 2139.08 916.599C2139.08 947.426 2127.39 971.853 2104.07 989.919C2080.7 1007.95 2049.18 1017 2009.43 1017C1981.91 1017 1957.69 1012.28 1936.77 1002.8L1936.73 1002.84Z" fill="currentColor"/>
        <path d="M653.353 54.3561L478.408 54.7073L478.331 12.3697L872.508 11.5503L872.586 53.8879L696.904 54.2391L697.875 522.762L654.323 522.84L653.353 54.3171V54.3561Z" fill="currentColor"/>
        <path d="M1102.69 53.3806L927.744 53.7317L927.666 11.3941L1321.84 10.5747L1321.92 52.9123L1146.24 53.2635L1147.21 521.787L1103.66 521.865L1102.69 53.3415V53.3806Z" fill="currentColor"/>
        <path d="M1431.46 10.3798L1475.75 10.3018L1476.8 521.162L1432.51 521.241L1431.46 10.3798Z" fill="currentColor"/>
        <path d="M1730.11 496.15C1690.87 473.596 1660.16 442.301 1638.08 402.188C1615.95 362.114 1604.85 316.498 1604.77 265.42C1604.66 214.342 1615.56 168.687 1637.53 128.535C1659.47 88.3433 1690.01 56.8925 1729.18 34.1824C1768.31 11.5113 1812.56 0.117225 1861.93 0.000162064C1920 -0.1169 1971.24 15.5695 2015.56 47.0983C2059.93 78.6272 2090.36 121.16 2106.94 174.618L2060.48 174.696C2045.88 134.349 2020.88 102.547 1985.52 79.2515C1950.12 55.956 1909.21 44.3669 1862.75 44.4839C1821.6 44.562 1784.84 53.8879 1752.47 72.4619C1720.1 91.0358 1694.87 117.102 1676.78 150.699C1658.69 184.296 1649.68 222.536 1649.8 265.342C1649.88 308.148 1659.04 346.31 1677.24 379.868C1695.45 413.387 1720.8 439.375 1753.28 457.793C1785.73 476.21 1822.53 485.38 1863.68 485.302C1911.58 485.185 1953.65 472.972 1989.91 448.545C2026.16 424.157 2051.24 390.755 2065.21 348.417L2111.67 348.339C2101.58 384.863 2084.46 416.743 2060.32 444.057C2036.18 471.372 2007.18 492.443 1973.33 507.349C1939.49 522.255 1902.73 529.747 1863.02 529.825C1813.64 529.942 1769.35 518.704 1730.11 496.15Z" fill="currentColor"/>
        <path d="M5.35657 528.771L53.7991 528.654L106.977 397.193L59.1945 397.31L5.35657 528.771Z" fill="currentColor"/>
        <path d="M270.082 59.2336L243.183 0L220.786 46.6689H220.747L83.144 334.682L130.81 336.008L242.484 100.518L355.555 335.93L402.135 333.628L270.082 59.2336Z" fill="currentColor"/>
        <path d="M426.628 396.53L378.845 396.647L433.304 527.874L481.009 527.757L426.628 396.53Z" fill="currentColor"/>
      </svg>
    </div>
    <ul>
      <li><a href="#clases">Clases</a></li>
      <li><a href="#horarios">Horarios</a></li>
      <li><a href="#precios">Precios</a></li>
      <li><a href="#nosotros">Nosotros</a></li>
      <li><a href="#ubicacion">Ubicación</a></li>
      <li>
        <a href="https://wa.me/5491171451598" target="_blank" rel="noopener" class="btn btn-primary" style="margin-top: 1rem; justify-content: center;">
          <svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413z"/></svg>
          Reservar
        </a>
      </li>
    </ul>
  </div>
</nav>

<style>
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(242, 239, 230, 0.88);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(45, 41, 38, 0.07);
    transition: all var(--transition);
  }

  .navbar.scrolled {
    background: rgba(242, 239, 230, 0.97);
    box-shadow: 0 1px 12px rgba(45, 41, 38, 0.06);
  }

  .navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 2rem;
    max-width: 100%;
    margin: 0 auto;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: var(--color-dark);
  }

  .logo-iso {
    height: 36px;
    width: auto;
  }

  .logo-wordmark {
    height: 30px;
    width: auto;
  }

  .navbar-links {
    display: flex;
    gap: 2rem;
  }

  .navbar-links a {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--color-dark-soft);
    position: relative;
  }

  .navbar-links a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-dark);
    transition: width var(--transition);
  }

  .navbar-links a:hover::after {
    width: 100%;
  }

  .navbar-links a:hover {
    color: var(--color-dark);
  }

  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav-icon {
    color: var(--color-dark-soft);
    transition: color var(--transition);
  }

  .nav-icon:hover {
    color: var(--color-dark);
  }

  .btn-nav {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
  }

  .hamburger span {
    display: block;
    width: 24px;
    height: 1.5px;
    background-color: var(--color-dark);
    transition: all var(--transition);
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -4px);
  }

  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: var(--color-cream);
    z-index: 998;
    box-shadow: 0 8px 32px rgba(45, 41, 38, 0.12);
  }

  .mobile-menu.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .mobile-menu ul li a:not(.btn) {
    display: block;
    font-family: var(--font-sans);
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-dark);
    padding: 0.5rem 0;
    text-decoration: none;
  }

  .mobile-menu ul li .btn-primary {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--color-white);
    padding: 1rem 2rem;
  }

  .mobile-menu-logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: var(--color-dark);
    margin-bottom: 2.5rem;
  }

  .mobile-menu-logo .logo-iso {
    height: 32px;
    width: auto;
  }

  .mobile-menu-logo .logo-wordmark {
    height: 26px;
    width: auto;
  }

  .mobile-close {
    display: none;
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
    background: none;
    border: none;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--color-dark);
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    z-index: 999;
  }

  .mobile-menu.open .mobile-close {
    display: block;
  }

  @media (max-width: 768px) {
    .navbar-links,
    .navbar-actions {
      display: none;
    }

    .hamburger {
      display: flex;
    }
  }
</style>

<script>
  const navbar = document.getElementById('navbar');
  const hamburger = document.getElementById('hamburger');
  const mobileMenu = document.getElementById('mobile-menu');

  window.addEventListener('scroll', () => {
    if (window.scrollY > 50) {
      navbar?.classList.add('scrolled');
    } else {
      navbar?.classList.remove('scrolled');
    }
  });

  hamburger?.addEventListener('click', () => {
    hamburger.classList.toggle('active');
    mobileMenu?.classList.toggle('open');
    document.body.style.overflow = mobileMenu?.classList.contains('open') ? 'hidden' : '';
  });

  document.querySelectorAll('.mobile-menu a').forEach(link => {
    link.addEventListener('click', () => {
      hamburger?.classList.remove('active');
      mobileMenu?.classList.remove('open');
      document.body.style.overflow = '';
    });
  });

  document.getElementById('mobile-close')?.addEventListener('click', () => {
    hamburger?.classList.remove('active');
    mobileMenu?.classList.remove('open');
    document.body.style.overflow = '';
  });
</script>
